/* #boba2 {
    position: fixed;
    bottom: 50px;
    left: 500px; 
}*/

@font-face {
    font-family: "black bubble";
    src: url("./styles/fonts/blackbubble.ttf");
}

@font-face {
    font-family: "modern type";
    src: url("./styles/fonts/moderntype.ttf");
}


html, body {
    margin: 0;
    padding: 0;
    background-color: #BEB9FF;
    font-family: "modern type";
    background-image: url("./images/background.png");
    background-size: cover;
}
h1 {
    position: fixed;
    text-align: center;
    font-family: "black bubble";
    color: white;
    text-shadow: 5px 5px#765D9F;
    margin: 0 0;
    font-size: 6rem;
    top: 32%;
}
h2 {
    font-family: "modern type";
    text-align: center;
    margin: 2vh 0 0 0;
    font-size: 1rem;
    color: #201D2C;
}
.counter-box {
    display: flex;
    flex-direction: column;
    align-items: center;

}

p {
    margin: 1vh 0;
    color: #201D2C;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#counter {
    font-family: "modern type";
    text-align: center;
    margin: 1vh 0 0 0;
    font-size: 3rem;
}

.startbox {
    position: absolute;
    width: 60%;
    height: 50%;
    top: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F2CA7C;
    border-radius: 20px;
}


.bobas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 700px;
}
.cupScore, .cupScore2 {
    width: 40px;
    height: auto;
}
#cuppaImage {
    position: fixed;
    width: 100px;
    height: auto;
    opacity: none;
}

#player1Score {
    visibility: hidden;
}

#player2Score {
    visibility: hidden;
}

.score1 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 8%;
    height: auto;
    justify-content: flex-start;
}

.score2 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    width: 8%;
    height: auto;
    justify-content: flex-start;
}

#cup1 {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 100px;
    height: 160px;
    top: 77%;
    left: 45%;
}

#cup2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    width: 100px;
    height: 160px;
    top: 77%;
    left: 40%;
}

#cuppa1 {
    position: fixed;
    font-size: 2rem;
}

.boba {
    display: fixed;

}

#cuppa2 {
    position: fixed;
    font-size: 2rem;
}

#start {
    display:block;
    font-size: 3rem;
    color: white;
    text-shadow: 3px 3px 0 #765D9F;
    font-family: "black bubble";
    position: fixed;
    top: 65%;
    background-color: transparent;
    border: none;
}

#start:hover {
    text-shadow: 5px 5px 0 rgb(153, 131, 189);
    transition: text-shadow 0.2s ease-in-out;
  }

.player1 {
    width: 40%;
    height: auto;
    background-color:white;
    border-right: 2px solid grey;
    position: relative;
    border-radius: 10px;
}

.player2 {
    width: 40%;
    height: auto;
    background-color:white;
    border-right: 2px solid grey;
    position: relative;
    border-radius: 10px;
}

.monsters{
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    top: 70%;
    bottom: 0;
}

.monsters > img{
    height: 300px;
    width: auto;
}

#mon1 {
    left: 0%;
    bottom: -3%;
}

#mon2 {
    right: 0%;
    bottom: -3%;
}

.worm, .worm2 {
height: 80px;
width: auto;
}

#winner {
    display: block;
    font-size: 2.4rem;
    color: #765D9F;
    text-shadow: 2px 2px 0 white;
    font-family: "modern type";
    position: fixed;
    top: 50%;
    background-color: transparent;
    border: none;
}

ul li {
    list-style: none;
    color: white;
}

ul {
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;
    top: 43%;
}

#rule {
    font-size: 1.9rem;
}

.rulesLi {
    font-size: 1.2rem;
}

.rulecup{
    height: 40px;
    width: auto;
    margin: 0 0 0 1vw;
}

.rulebub {
    height: 30px;
    width: auto;
    margin: 0 1vw 0 0;
}

.ruleworm {
    height: 40px;
    width: auto;
    margin: 0 1vw 0 0;
}

li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 80%;
    line-height: 1.7rem;
}

.playerControls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5rem;
    align-items: center;
    position: fixed;
    top: 65%;
}

#playCon1 {
    margin-right: 8vw;
}

#playCon2 {
    margin-left: 8vw;
}